<div class="cmp-index-cont-container">
  <% @company.each do |company| %>
    <a href="#" id="refresh-link" onclick="listMenues(<%= company.id %>); return false">
    <div class="cmp-index-cont-right-box">
      <h4><strong><%= company.name.upcase %></strong></h4>
    </div>
    </a>
  <% end %>
  
</div>