<div class="row" id="orders">
  <% orders.each do |order| %>
    <%= render partial: "stations/order", locals: { order: order, order_items: order_items, items: items, subitems: subitems } %>
  <% end %>
</div>
