// Specific CSS for your home-page
.h-container{
  height: 300px;
  justify-content: center;

  .h-content {
    height: 30%;
    h3 {
      display: flex;
      justify-content: center;
    }
    p {
      display: flex;
      justify-content: center;
    }
  }
}
