// Specific CSS for your home-page
.h-container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("table2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0%;
}
.h-content{
  height: 150px;
  width: 280px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 80%;
  border-radius: 65px;
  padding: 3%;
}
h1{
  display: block;
  align-items: center;
  justify-content: center;
  color: white;
  margin: auto;
  //opacity: 80%;
}
.h-btns-div{
display: flex;
justify-content: center;
}
