.cmp-index-cont-container{
  height: 90%;
  width: 90%;
  border: solid 1px lightgrey;
  border-radius: 5%;
  overflow-y:  auto;
  .cmp-index-cont-right-box{
    height: 60px;
    border: solid 1px lightgrey;
    box-shadow: 0 0 2px 0;
  }
}