<div class="cmp-index-navbar">
  <div class="cmp-index-navbar-cont">
    <div  class="cmp-index-navbar-btn">
      <%= button_to btnN,  new_company_path, method: :get, class:"cmp-index-btn-lgt  h-btn" %>
    </div>
    <div class="cmp-index-navbar-btn">
      <%= button_to btnE,  edit_user_registration_path, method: :get, class:"cmp-index-btn-lgt  h-btn" %>
    </div>
    <div class="cmp-index-navbar-btn">
      <%= button_to btnL,  destroy_user_session_path, method: :get, class:"cmp-index-btn-lgt  h-btn" %>
    </div>
  </div>
</div>
