<div class="h-container">
    <div class = "h-btns-txt">
          <h3>WELCOME</h3>
    <p>If you're looking for an easy and efficient way to showcase your gastronomic offer to your customers, you've come to the right place.
Our service allows you to create an online menu for your restaurant, with all the dishes, drinks, and desserts you offer, along with their prices and descriptions. In addition, our system allows you to edit the menu in real time, so you can easily add new items or modify existing ones.</p>
    <div class = "h-btns-div">
      <%= button_to " Login ", new_user_session_path, class: "h-btn", method: :get %>
      <%= button_to " Sign up ", new_user_registration_path, class:"h-btn", method: :get %>
    </div>
    </div>
</div>

