<div class="h-container">
<%= render "banner" %>
  <div class = "h-content">
      <h3>Green and fast solution to have a great menu and also easy to actualice</h3>
      <p>Please <%= link_to " log in ", new_user_session_path, class: "btn standart-button" %> or <%= link_to " sign up ", new_user_registration_path, class: "btn standart-button" %> to work in your menu</p>
  </div>
</div>

