  <div class="cmp-index-top">
    <div class="cmp-index-btn-lgo">
      <%= button_to " EDIT PROFILE ",  edit_user_registration_path, method: :get, class:"cmp-index-btn-lgt" %>
    </div>
    <div class="cmp-index-btn-lgo">
      <%= button_to " LOG OUT ",  destroy_user_session_path, method: :get, class:"cmp-index-btn-lgt" %>
    </div> 
  </div>
  <div class="cmp-index-top">
    <div  class="cmp-index-btn-lgo">
      <%= button_to " NEW COMPANY ",  new_company_path, method: :get, class:"cmp-index-btn-lgt" %>
    </div>
  </div>