<div class="cmp-index-navbar">
  <div class="cmp-index-navbar-cont">
    <div  class="cmp-index-navbar-btn h-btn">
      <%= button_to " NEW COMPANY ",  new_company_path, method: :get, class:"cmp-index-btn-lgt" %>
    </div>
    <div class="cmp-index-navbar-btn h-btn">
      <%= button_to " EDIT PROFILE ",  edit_user_registration_path, method: :get, class:"cmp-index-btn-lgt" %>
    </div>
    <div class="cmp-index-navbar-btn h-btn">
      <%= button_to " LOG OUT ",  destroy_user_session_path, method: :get, class:"cmp-index-btn-lgt" %>
    </div>
  </div>
</div>