<div class="cmp-index-container clearfix">
  <%= render partial: "shared/navbar", locals: {btnN: "NEW COMPANY", btnE: "EDIT PROFILE", btnL: "LOG OUT" } %>
  <div class="cmp-index-container-cont">
    <div class="cmp-index-content">
      <div class="cmp-index-cont-sides leftcontainer">
          <%= render partial: "companies/render-companies-index/windows-dinamic", locals: {companies: @companies, stations: @stations} %>
      </div>
    </div>
  </div>
  <% if current_user.role == "master" %>
    <%= render partial: "index-users-list" %>
  <% end %>
</div>

<%= javascript_include_tag "packs/idx-cmp-show" %>
