<div><h1>Index company</h1></div>
<div>
<p>LIST COMPANIES</p>
<ul>
  <% @company.each do |company| %>
    <% if current_user == company.user  %>
    <li><%= link_to "#{company.name}", company_path(company) %></li>
    <% end %>
  <% end %>
</ul>
</div>
<div>
<%= link_to "New", new_company_path, class: "btn btn-link" %>
</div>
