<div class = "sh-container">
<h1><%= @company.name %></h1>
<h2> Menu </h2>
<div>
  <form class="sh-searchform">
    <input type="text" class="search" placeholder=" SEARCH: 'Pasta/Cuba Libre/Eggs'">
  </form>
</div>
<div class = "sh-cards row">
<% @menus.each do |menu|  %>
<div class="sh-card col-sm-6 col-md-4 col-xl-2">
  <%= link_to "#{menu.subtitle}", menu_path(menu.id), :class => "sh-link" %>
</div>
<% end %>
</div>
</div>

