<h1>company show</h1>
<ul>
  <li>Name: <%= @company.name %></li>
</ul>
<h3>Menus</h3>
  <% @menus.each do |menu|  %>
    <ul>
      <li><%= link_to "#{menu.subtitle}","#" %></li>
    </ul>
  <% end %>

