<div class = "m-container">
<h3>Menus</h3>
<div class = "m-cards row">
<% @menus.each do |menu|  %>
<div class="m-card col-sm-6 col-md-4 col-xl-2">
  <ul>
    <li><%= link_to "#{menu.subtitle}", menu_path(menu.id) %></li>
  </ul>
</div>
<% end %>
</div>
</div>

