<section id="product" class="about-area about-five">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12">
                <div class="about-image-five">
                <svg class="shape" width="106" height="134" viewBox="0 0 106 134" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle cx="1.66654" cy="1.66679" r="1.66667" fill="#DADADA" />
                    <circle cx="1.66654" cy="16.3335" r="1.66667" fill="#DADADA" />
                    <circle cx="1.66654" cy="31.0001" r="1.66667" fill="#DADADA" />
                    <circle cx="1.66654" cy="45.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="1.66654" cy="60.3335" r="1.66667" fill="#DADADA" />
                    <circle cx="1.66654" cy="88.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="1.66654" cy="117.667" r="1.66667" fill="#DADADA" />
                    <circle cx="1.66654" cy="74.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="1.66654" cy="103" r="1.66667" fill="#DADADA" />
                    <circle cx="1.66654" cy="132" r="1.66667" fill="#DADADA" />
                    <circle cx="16.3333" cy="1.66679" r="1.66667" fill="#DADADA" />
                    <circle cx="16.3333" cy="16.3335" r="1.66667" fill="#DADADA" />
                    <circle cx="16.3333" cy="31.0001" r="1.66667" fill="#DADADA" />
                    <circle cx="16.3333" cy="45.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="16.333" cy="60.3335" r="1.66667" fill="#DADADA" />
                    <circle cx="16.333" cy="88.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="16.333" cy="117.667" r="1.66667" fill="#DADADA" />
                    <circle cx="16.333" cy="74.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="16.333" cy="103" r="1.66667" fill="#DADADA" />
                    <circle cx="16.333" cy="132" r="1.66667" fill="#DADADA" />
                    <circle cx="30.9998" cy="1.66679" r="1.66667" fill="#DADADA" />
                    <circle cx="74.6665" cy="1.66679" r="1.66667" fill="#DADADA" />
                    <circle cx="30.9998" cy="16.3335" r="1.66667" fill="#DADADA" />
                    <circle cx="74.6665" cy="16.3335" r="1.66667" fill="#DADADA" />
                    <circle cx="30.9998" cy="31.0001" r="1.66667" fill="#DADADA" />
                    <circle cx="74.6665" cy="31.0001" r="1.66667" fill="#DADADA" />
                    <circle cx="30.9998" cy="45.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="74.6665" cy="45.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="31" cy="60.3335" r="1.66667" fill="#DADADA" />
                    <circle cx="74.6668" cy="60.3335" r="1.66667" fill="#DADADA" />
                    <circle cx="31" cy="88.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="74.6668" cy="88.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="31" cy="117.667" r="1.66667" fill="#DADADA" />
                    <circle cx="74.6668" cy="117.667" r="1.66667" fill="#DADADA" />
                    <circle cx="31" cy="74.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="74.6668" cy="74.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="31" cy="103" r="1.66667" fill="#DADADA" />
                    <circle cx="74.6668" cy="103" r="1.66667" fill="#DADADA" />
                    <circle cx="31" cy="132" r="1.66667" fill="#DADADA" />
                    <circle cx="74.6668" cy="132" r="1.66667" fill="#DADADA" />
                    <circle cx="45.6665" cy="1.66679" r="1.66667" fill="#DADADA" />
                    <circle cx="89.3333" cy="1.66679" r="1.66667" fill="#DADADA" />
                    <circle cx="45.6665" cy="16.3335" r="1.66667" fill="#DADADA" />
                    <circle cx="89.3333" cy="16.3335" r="1.66667" fill="#DADADA" />
                    <circle cx="45.6665" cy="31.0001" r="1.66667" fill="#DADADA" />
                    <circle cx="89.3333" cy="31.0001" r="1.66667" fill="#DADADA" />
                    <circle cx="45.6665" cy="45.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="89.3333" cy="45.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="45.6665" cy="60.3335" r="1.66667" fill="#DADADA" />
                    <circle cx="89.3333" cy="60.3335" r="1.66667" fill="#DADADA" />
                    <circle cx="45.6665" cy="88.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="89.3333" cy="88.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="45.6665" cy="117.667" r="1.66667" fill="#DADADA" />
                    <circle cx="89.3333" cy="117.667" r="1.66667" fill="#DADADA" />
                    <circle cx="45.6665" cy="74.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="89.3333" cy="74.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="45.6665" cy="103" r="1.66667" fill="#DADADA" />
                    <circle cx="89.3333" cy="103" r="1.66667" fill="#DADADA" />
                    <circle cx="45.6665" cy="132" r="1.66667" fill="#DADADA" />
                    <circle cx="89.3333" cy="132" r="1.66667" fill="#DADADA" />
                    <circle cx="60.3333" cy="1.66679" r="1.66667" fill="#DADADA" />
                    <circle cx="104" cy="1.66679" r="1.66667" fill="#DADADA" />
                    <circle cx="60.3333" cy="16.3335" r="1.66667" fill="#DADADA" />
                    <circle cx="104" cy="16.3335" r="1.66667" fill="#DADADA" />
                    <circle cx="60.3333" cy="31.0001" r="1.66667" fill="#DADADA" />
                    <circle cx="104" cy="31.0001" r="1.66667" fill="#DADADA" />
                    <circle cx="60.3333" cy="45.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="104" cy="45.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="60.333" cy="60.3335" r="1.66667" fill="#DADADA" />
                    <circle cx="104" cy="60.3335" r="1.66667" fill="#DADADA" />
                    <circle cx="60.333" cy="88.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="104" cy="88.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="60.333" cy="117.667" r="1.66667" fill="#DADADA" />
                    <circle cx="104" cy="117.667" r="1.66667" fill="#DADADA" />
                    <circle cx="60.333" cy="74.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="104" cy="74.6668" r="1.66667" fill="#DADADA" />
                    <circle cx="60.333" cy="103" r="1.66667" fill="#DADADA" />
                    <circle cx="104" cy="103" r="1.66667" fill="#DADADA" />
                    <circle cx="60.333" cy="132" r="1.66667" fill="#DADADA" />
                    <circle cx="104" cy="132" r="1.66667" fill="#DADADA" />
                </svg>
                <img src="template/images/about/about-img1.jpg" alt="about" />
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about-five-content">
                    <h6 class="small-title text-lg"><%= t('landing_page.who_we_are') %></h6>
                    <h2 class="main-title fw-bold"><%= t('landing_page.team_experience') %></h2>
                    <div class="about-five-tab">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-who" role="tabpanel" aria-labelledby="nav-who-tab">
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page
                                when
                                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                                distribution of letters, look like readable English.</p>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have in some
                                form,
                                by injected humour.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
