<footer class="footer-area footer-eleven">
    <div class="footer-top">
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="footer-widget f-about">
                            <div class="logo">
                                <a href="index.html">
                                <img src="template/images/logo.svg" alt="#" class="img-fluid" />
                                </a>
                            </div>
                            <p>
                                Making the world a better place through constructing elegant
                                hierarchies.
                            </p>
                            <p class="copyright-text">
                                <span>© 2024 BarAPP.</span>Designed and Developed by
                                <a href="javascript:void(0)" rel="nofollow"> Tu Vieja </a>
                            </p>
                        </div>
                    </div>
                    <div class="ml-auto col-lg-2 col-md-6 col-12">
                        <div class="footer-widget f-link">
                            <h5>Support</h5>
                            <ul>
                                <li><a href="javascript:void(0)">Pricing</a></li>
                                <li><a href="javascript:void(0)">Documentation</a></li>
                                <li><a href="javascript:void(0)">Guides</a></li>
                                <li><a href="javascript:void(0)">API Status</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>