.sh-basket-note {
    background: #fafafa;
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3), 0 0 300px 25px rgba(222,198,122,0.7) inset;
    width: 300px;
    height: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    z-index: 9999;
    .sh-basket-note-tittle{
        a {
            all: unset;
            cursor: pointer;
          }
        p{
            position: absolute;
            right: 10px;
            top: 3px;
        }
        h5{
            margin: 3px;
        }        
    }
    .a{
        text-decoration: none;
    }
}
.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9998;
}
