.grl-btn{
  height: 30px;
  width: fit-content;
  background-color: $btn-color;
  border-radius: 12px;
  color: black;
  font-weight: normal;
  font-size: 15px;
  opacity: 100%;
}

.h-btn{
  width: 100px;
  background-color: $btn-color;
  border-radius: 12px;
  color: black;
  font-size: 15px;
  opacity: 100%;
  &:hover {
    background-color: white;
  }
}

.sh-btn-add{
  width: 100%;
  height: 18px;
  background-color: $btn-color;
  border: solid 1px lightgray;
  border-radius: 3px;
  font-size: 10px;
  color: black;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 0px 0px;
  box-shadow: 0 1px 2px 0;
}

.sh-btn-set-item{
  width: 50px;
  height: 18px;
  background-color: $btn-color!important;
  border: solid 1px lightgray;
  border-radius: 3px;
  font-size: 10px;
  color: black;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  box-shadow: 0 1px 2px 0;
}
