
.cmp-index-navbar{
  height: 60px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(45deg, lightgrey, transparent);
  box-shadow: 0 0 6px 0;
  align-items: center;
  .cmp-index-navbar-cont{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center; 
    .cmp-index-navbar-btn{
      height: auto;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 0px;
      margin: 3px;
    }
    .h-btn{
      height: 20px;
      width: 80px;
      margin: 1px;
      background-color: orange;
      text-align: center;
      box-shadow: 0 1px 3px 0 grey;
      color: black;
      font-size: 10px;
      border-radius: 7%;

    }
  }
}
