.sh-nav{
  height: 70px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  h1{
    height: 100%;
    text-align: center;
    margin: auto;
  }
}

.sh-nav-basket{
  height: 45px;
  width: 45px;
  position: fixed;
  top: 5px;
  right: 5px;
  margin: 10px;
  background: url("icons/Basket.png");
  background-size: cover;
}
.sh-div-item-basket-img{
  height: 16px;
  width: 16px;
  margin-right: 5px;
  background: url("icons/Basket.png");
  background-size: cover;
}
.sh-div-item-basket-quantity{
  height: 16px;
  width: 16px;
  color: rgb(158, 11, 11);
  margin-right: 5px;
  text-align: center;
}