.cmp-index-container{
  height: 100%;
  width: 100%;
  display: inline;
  font-family: $grl-font;
  background-color: white;
  h3{
    text-align: center;
    margin: 20px;
  }
  h5{
    text-align: left;
    margin-left: 3vh;
  }
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
.cmp-index-cards{
  min-height: 130px;
  justify-content: center;
  .cmp-index-card-btns{
    display: inline;
    position: relative;
    margin: 20px!important;
    width: 250px!important;
    height: 160px!important;
    box-shadow: 0 4px 8px 0;
    margin: 5px;
    font-weight: normal;
    .cmp-index-card{
      width: 100%;
      height: 160px;
      position: relative;
      border: solid 1px gray;
      border-bottom: 0px;
      align-items: center;
      a, a:hover{
        color: inherit!important;
        text-decoration: inherit!important;
      }
      .cmp-index-card-content{
        width: 80%;
        height: 50%;
        position: absolute;
        left: 25px;
        top: 18px;
        border: solid 1px black;
        color: black;
        border-radius: 5px;
        padding: 5px;
        .cmp-index-card-tittle{
          text-align: left;
          h4{
            font-size: 16px;
            margin: 0;
          }
        }
        .cmp-index-card-address{
          text-align: left;
          p{
            font-size: 11px;
          }
        }
      }
    }
    .cmp-index-card-qr{
      width: auto;
      height: auto;
      position: absolute;
      left: 80px;
      top: 105px;
      box-shadow: 0 4px 8px 0;
      input{
        width: auto;
        margin: 10px;
      }
      .cmp-index-card-svg{
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .cmp-index-card-set-btns{
      width: 250px!important;
      height: 20px!important;
      display: flex;
      justify-content: center;
      align-items: center;
      button{
        width: 125px!important;
        color: black;
        font-weight: normal;
        text-align: center;
        font-size: 12px;
        border: solid 1px gray;
        background-color: $btn-color;
        box-shadow: 0 4px 8px 0;
      }
    }
  }
}

.cmp-index-card-btns-add{
  height: 30px;
  display: flex;
  justify-content: center;
  margin: 5px;
  a, a:hover{
    color: inherit!important;
    text-decoration: inherit!important;
  }
  .cmp-index-card-content-add{
    background-color: $btn-color;
    width: 250px;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0;
    margin: 5px;
    p{
      margin: 5px;
      font-size: 17px;
      color: black;
    }
  }
}

.cmp-index-users-list-container{
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  .cmp-index-users-list{
    padding: 8px;
    p{
      text-align: left;
    }
  }
}
.cmp-index-btn-lgo{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 4px;
  font-weight: normal;
  .h-btn{
    margin: 10px;
    box-shadow: 0 3px 6px 0;
  }
}

.row>*{
  padding-right: 0px!important;
  padding-left: 0px!important;
}
