.cmp-index-container{
  height: 100%;
  width: 100%;
  display: inline;
  font-family: $grl-font;
  background-color: #ffc107;
  h3{
    text-align: center;
    margin: 20px;
  }
  h5{
    text-align: left;
    margin-left: 3vh;
  }
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.cmp-index-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc107;
  hr{
    margin: 20px;
  }
  a, a:hover{
    color: inherit!important;
    text-decoration: inherit!important;
  }
  .cmp-index-card-btns{
    display: inline;
    margin: 10px;
    width: 250px!important;
    height: 100px!important;
    box-shadow: 0 4px 8px 0;
    .cmp-index-card{
      background-color: green;
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      .cmp-index-card-content{
        width: 90%;
        height: 90%;
        border: solid 1px white;
        display: inline;
        color: white;
        border-radius: 5px;
        padding: 20px;
        .cmp-index-card-tittle{
          text-align: left;
          h4{
            font-size: 16px;
            margin: 0;
          }
        }
        .cmp-index-card-address{
          text-align: left;
          p{
            font-size: 11px;
          }
        }
      }
    }
    .cmp-index-card-set-btns{
      width: 250px!important;
      height: 20px!important;
      display: flex;
      justify-content: center;
      align-items: center;
      .cmp-index-card-edit-btn{
        width: 100%;
        height: 100%;
      }
      .cmp-index-card-delete-btn{
        width: 100%;
        height: 100%;
      }
      button{
        text-align: center;
        font-size: 12px;
        border: solid 1px gray;
        background-color: white;
        box-shadow: 0 4px 8px 0;
      }
    }
  }
}
.cmp-index-card-btns-add{
  display: flex;
  justify-content: center;
  a, a:hover{
    color: inherit!important;
    text-decoration: inherit!important;
  }
  .cmp-index-card-content-add{
    background-color: green;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: solid 2px white;
    text-align: center;
    box-shadow: 0 4px 8px 0;
    p{
      font-size: 17px;
      color: white;
    }
  }
}
.cmp-index-users-list-container{
  background-color: #ffc107;
  .cmp-index-users-list{
    p{
      text-align: left;
    }
  }
}
.cmp-index-btn-lgo{
  display: flex;
  justify-content: end;
  background-color: #ffc107;
  .h-btn{
    margin: 30px;
  }
}

.row>*{
  padding-right: 0px!important;
  padding-left: 0px!important;
}
