.sh-container{
  height:  100%;
  background-color:white;
  font-family: $grl-font;

  h1, h2 {
    padding-top: 20px;
    text-align: center;
    color: black;
  }
}

#wrapper{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#wrapper .list .item{
  display: block;
}

.row {
  margin-left:0!important;
  margin-right:0!important;
}

.sh-searchform{
  padding: 5px;
  margin: 5px;
  text-align: center;
  input {
    width: 95%!important;
    max-width: 700px!important;
    max-height: 30px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0.2);
  }
}

.sh-cards{
  justify-content: center;
}

.sh-card{
  margin: 15px;
  height: fit-content;
  border: solid 1px lightgray;
  box-shadow: 0 4px 8px 0;
  width: 370px!important;
  max-width: 95%!important;
  p{
    height: 30px;
    font-size: 22px;
  }
  .sh-card-content{
    margin: 4px;
  }
}

.sh-items-li{
  width: 100%;
  display: inline;
  .sh-items-name-price{
    width: 100%;
    height: 16px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
  }
  .sh-items-description{
    font-family: $description-font;
  }
  p{
    font-size: 12px;
    margin-bottom: 2px;
    height: auto;
  }
}

.sh-form-inputs{
  width: 100%;
  .sh-inputs-name-price{
    font-size: 12px;
    margin-bottom: 4px;
    display: flex;
    .sh-input-name{
      width: 80%;
      display: flex;
      justify-content: center;
      margin: 1px;
      input{
        width: 100%;
        border: solid 1px lightgray;
        border-right: 0px;
      }
    }
    .sh-input-price{
      width: 20%;
      text-align: end;
      display: flex;
      justify-content: center;
      margin: 1px;
      input{
        width: 100%;
        text-align: end;
        border: solid 1px lightgray;
        border-right: 0px;
      }
    }
  }
  .sh-input-description{
    width: 100%;
    font-size: 12px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    input{
      width: 100%;
      border: solid 1px lightgray;
      border-right: 0px;
    }
  }
  .sh-input-btns{
    display: flex;
    justify-content: center;
  }
  button{
    border: solid 1px lightgray;
    border-left: 0px;
    background-color: white;
  }
}


.sh-link{
  text-decoration: inherit;
  font-size: 25px;
  color: black;
}

.sh-div-btn-set-item{
  display: flex;
  justify-content: left;
  margin-bottom: 5px;
  margin-top: 3px;
}

.sh-div-btn-add{
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;
}
