.navbar-language-selector{
  margin-right: 40px;
  a{
    color: var(--white);
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.3s ease-out 0s;
    opacity: 0.7;
  }
  a:hover{
    color: black; /* Color when hovered */
  }
}
