.rgt-new-container{
    height:  100%;
    background-color:white;
    font-family: $grl-font;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rgt-new-form-inputs{
      display: inline;
      input{
          width: 300px;
          height: 30px;
      }
}
