
  <div class="sh-basket-note">
    <div class="sh-basket-note-tittle">
      <a href="#" onclick="toggle(); return false"><p>X</p></a><h5>Order</h5>
    </div>
    <hr>
    <div id="basket-container">
      <ul id="basket-items-list"></ul>
    </div>
    <hr>
    <p>Total: <span id="basket-total"></span></p>
  </div>
  <div class="overlay"></div>